.App {
  @apply w-full;
}

.top-btn {
  @apply bg-bright-green text-white font-bold py-2 px-4 mb-2 rounded;
}

.header-area {
  @apply fixed w-full px-2 py-1 bg-black;
}

.view-container {
  @apply flex flex-col w-full flex-grow h-0 p-4 mt-10 overflow-auto;
}

.input-bar {
  @apply bg-gray-300 p-2 flex border-t-2 border-sky-100;
  background-color: rgb(0 0 0 / 1);
  opacity: 0.8;
}

.main-container {
  @apply flex flex-col flex-grow w-full bg-black shadow-xl overflow-hidden relative;
}

.bg-bright-green {
  background-color: #66b868;
}

.bg-dark-gray {
  background-color: #303030;
}

.input-content {
  @apply text-white py-2 px-3;
}

.outline-color:focus-visible {
  outline-color: #303030b2;
}

.tool {
  @apply w-32 bg-dark-gray absolute rounded-tr-xl left-0 bottom-12 px-2 py-2
}

/* 66b868 */
/* #303030 */
