@tailwind base;
@tailwind components;
@tailwind utilities;



.min-h-5 {
  min-width: 1rem;
  height: 1rem;
}

@media (max-width: 768px) {
  .screen-h {
    height: stretch;
  }

  .screen-w {
    width: stretch;
  }
}

@media (min-width: 768px) {
  .screen-h {
    height: 100vh;
  }
  
  .screen-w {
    width: 100vw;
  }
}


